Architecture: iphoneos-arm
Name: Front HDR
Package: org.thebigboss.fronthdr
Version: 1.3
Author: PoomSmart
Pre-Depends: gsc.hdr-image-capture, gsc.front-facing-camera, firmware (>= 6.0)
Depends: mobilesubstrate, preferenceloader
Description: Enable HDR in your Front-Facing Camera!
