Architecture: iphoneos-arm
Name: Front HDR
Package: com.PS.FrontHDR
Version: 1.0
Author: PoomSmart
Pre-Depends: gsc.hdr-image-capture, firmware (>= 6.0)
Depends: mobilesubstrate
Description: Enable HDR in your Front Camera!
